
.error404__container{
    text-align: center;
    width: 60em;
    margin: auto;   
}

.error404__container h1{
    text-align: justify;
    color: rgb(51, 51, 51);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20rem;
}

.wheel{
    width: 1em;
    height: .8em;
}

.error404__container p{
    width: 60%;
    text-align: justify;
    font-size: 2.5rem;
    
}

.error404__container ul{
    margin-top: 2%;
}

.error404__container li{
    list-style-type: none;
    text-align: justify;

}

.error404__container li a{
    color: $text-black;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: justify;
}

.error404__container li a:hover{
    color: rgb(175, 170, 170);
}

.carCrash{
    position: absolute;
    left: 80em;
    top: 5em;
}
