// Font Colours
$text-lightgray:rgb(160,160,160);
$text-darkgray:rgb(92, 91, 91);
$text-white:rgb(250,250,250);
$text-red: rgb(212,12,12);
$text-black: rgb(10,10,10);

// Font Size
$text-s:1.5rem;
$text-m:2rem;
$text-b:5rem;