@media(min-width:320px){
    .error404__container{
        width: 100%;
    }

    .error404__container h1{
        font-size: 12rem;
        text-align: center;
    }

    .error404__container p{
        width: 100%;
        text-align: justify;
        font-size: 1.6rem;
    }

    .error404__container li{
        margin-left: 10px;
    }


    .carCrash{
        width: 20em;
        height: 20em;
        left: 12em;
        top: 20em;
    }
}

@media(min-width:410px){

    .error404__container p{
        text-align: justify;
    }
    .carCrash{
        width: 23em;
        height: 23em;
        left: 15em;
        top: 15em;
    }
}

@media(min-width:615px){
    .error404__container{
        width: 50%;
        height: 100%;
        margin-left: 20%;
    }

    .error404__container li{
        margin-left: 0;
    }
    .error404__container h1{
        text-align: justify;
    }

    .carCrash{
        width: 30em;
        height: 30em;
        top: 10em;
        left: 30em;
    }
}

@media(min-width:910px){
    .error404__container{
        width: 45%;
        height: 100%;
        margin-left: 20%;
    }

    .error404__container li{
        margin-left: 0;
    }
    .error404__container h1{
        text-align: justify;
    }

    .carCrash{
        width: 35em;
        height: 35em;
        top: 10em;
        left: 35em;
    }
}

@media(min-width:1245px){
    .error404__container{
        text-align: center;
        width: 60em;
        margin: auto;   
    }
    
    .error404__container h1{
        text-align: justify;
        color: rgb(51, 51, 51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 20rem;
    }
    
    .wheel{
        width: 1em;
        height: .8em;
    }
    
    .error404__container p{
        width: 60%;
        text-align: justify;
        font-size: 2.5rem;
        
    }
    
    .error404__container ul{
        margin-top: 2%;
    }
    
    .error404__container li{
        list-style-type: none;
        text-align: justify;
    
    }
    
    .error404__container li a{
        color: $text-black;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: justify;
    }
    
    .error404__container li a:hover{
        color: rgb(175, 170, 170);
    }
    
    .carCrash{
        position: absolute;
        width: 50em;
        height: 50em;
        left: 80em;
        top: 10em;
    }
}

