@media(min-width:280px){

    @for $i from 1 through  3{
        .hero-title-ferrari#{$i}{
        font-size: 2.5rem;
        top: -63vh;
        }
    }

    .ferrari p{
        font-size: 1.2rem;
        top: -58vh;
        left: -8vw;
    }

    .ferrari img{
    width: 100%;
    height: 75vh;
    }

    .ferrari-link_container a{
    display: none;
    }

    .ferrari a{
    font-size: 1.2rem;
    left: 10vw;
    top: -7vh;
    }

    .modelos-ferrari-title{
    font-size: 4.5rem;
    }

    .models_container{
    display: $d-grid;
    grid-template-columns: repeat(1,1fr);
    }

    .ferrari-contact_container{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    }

    .ferrari-contact_container a{
    text-align: center;
    font-size: $text-s;
    }
}


@media(min-width:350px){

    .ferrari p{
        left: -5vw;
    }

    .ferrari a{
        left: 15vw;
    }

    .ferrari-contact_container{
        margin-left: 15vw;
    }
}


@media(min-width:425px){
    .ferrari a{
        left: 18vw;
    }

    .ferrari-contact_container{
        margin-left: 20vw;
    }

}

@media(min-width:510px){
    .ferrari a{
        left: 21vw;
    }
    .ferrari-contact_container{
        margin-left: 30vw;
    }

}


@media(min-width:600px){

    .ferrari a{
        left: 25vw;
    }
    .models_container{
        grid-template-columns: repeat(2,2fr);
    }
    .ferrari-contact_container{
        margin-left:30vw ;
    }
}

@media(min-width:768px){
    @for $i from 1 through  3{
        .hero-title-ferrari#{$i}{
        position: absolute;
        left: -10vw;
        top: -80vh;
        font-size: $text-b+1rem;
        font-weight: 600;
        color: $text-red;
        }
    }

    .ferrari a{
        font-size: 2rem;
        left:55vw;
        top: -7vh;
    }

    .ferrari p{
        margin-left: -5%;
        top: -70vh;
        font-size: 1.8rem;
    }

    .ferrari-link_container a{
        display: flex;
    }
    
    .ferrari-link_container{
        left: 78.5vw;
    }
    .ferrari img{
        width: $w-medium;
        height: 88vh;
    }
    .ferrari-contact_container{
        margin-left: 35vw;
    }

    
}

@media(min-width:930px){
    .ferrari-contact_container{
        margin-left: 40vw;
    }
}

@media(min-width:1190px){
    .ferrari img{
        height: 87vh;
    }
    .models_container{
        grid-template-columns: repeat(3,3fr);
    }
    .ferrari-contact_container a{
        font-size: $text-m;
    }
}

@media(min-width:1440px){
    .ferrari-link_container{
        left: 80.5vw;
    }
    .models_container{
        grid-template-columns: repeat(4,1fr);
    }
}



